@import '../../theme/variables';

a {
  text-decoration: none;
  color: inherit;
}

.objectPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  font-size: $font-size-xl;
  font-weight: $font-semiBold;
  line-height: $line-height-xll;
  color: $color-green;
}

.objects {
  display: block;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

  &__boxDetails {
    @extend .objects;

    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
}
