@import '../../theme/variables';

.button {
  display: none;
  align-items: center;
  padding: 0 20px;
  width: 240px;
  height: 80px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  margin-left: 350px;
  transition: 0.2s all;
  position: absolute;
  top: 295px;
  z-index: 1000;

  @media screen and (min-width: 950px) {
    display: flex;
  }

  &Active {
    @extend .button;

    background: #1c6434;
  }

  &__clock {
    fill: #1c6434;
    width: 54px;
    height: 54px;

    &Active {
      fill: $color-white;
      width: 54px;
      height: 54px;
    }
  }

  &__close {
    position: absolute;
    color: $color-white;
    top: 0;
    right: 10px;
    font-weight: $font-bold;
    font-size: 25px;
  }

  &__label {
    font-weight: $font-bold;
    font-size: $font-size-l;
    line-height: $line-height-l;
    letter-spacing: 1px;
    color: $color-dark;
    margin-left: $margin-s;
    text-align: left;
    max-width: 150px;

    &Active {
      @extend .button__label;

      color: $color-white;
    }
  }
}
