@import '../../theme/variables';

.button {
  display: none;
  flex-direction: column;
  padding: 0 20px;
  width: 280px;
  height: 80px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  margin-left: 30px;
  transition: 0.2s all;
  position: absolute;
  top: 295px;
  z-index: 2000;

  @media screen and (min-width: 950px) {
    display: flex;
  }

  &Show {
    @extend .button;

    height: 415px;
  }

  &__arrow {
    position: absolute;
    right: 0;
    fill: #1c6434;
    width: 18px;
    height: 11px;
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    border-top: 0.5px solid #c4c4c4;

    &First {
      @extend .button__button;

      border-top: none;
    }
  }

  &__icon {
    width: 52px;
    height: 52px;
  }

  &__label {
    font-weight: $font-bold;
    font-size: $font-size-l;
    line-height: $line-height-l;
    letter-spacing: 1px;
    color: $color-dark;
    margin-left: $margin-s;
    text-align: left;
    max-width: 150px;
  }
}
