@import '../../../theme/variables';

.navigation {
  &__icon {
    fill: #4e4e4e;
  }

  &__item {
    list-style: none;
    display: flex;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 90rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-weight: $font-semiBold;
    font-size: $font-size-l;
    line-height: $line-height-xl;
    text-align: center;
    letter-spacing: 1px;
    color: $color-grayDark;

    &Active {
      color: $color-green;
    }

    &Disabled {
      @extend .navigation__link;
      color: $color-gray;
    }
  }

  &__underline {
    width: 100%;
    height: 9px;
    background-color: $color-white;
    margin-top: $margin-m;
  }
}

.navigation__linkActive > .navigation__underline {
  background-color: $color-green;
}

.navigation__linkActive > .navigation__icon {
  fill: $color-green;
}

.navigation__linkDisabled > .navigation__icon {
  fill: $color-gray;
}
