@import '../../theme/variables';

.buttonPoint {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  z-index: 1000;
  &__icon {
    width: 60px;
    height: 80px;
  }

  &__label {
    font-weight: $font-bold;
    font-size: $font-size-m;
    line-height: $line-height-s;
    margin-left: 5px;
    letter-spacing: 1px;
    max-width: 160px;
    text-align: left;

    &Red {
      @extend .buttonPoint__label;

      color: $color-red;
    }
  }
}

.card {
  position: absolute;
  bottom: 0;
  background-color: $color-white;
  width: 100%;
  height: 800px;
  transition: all 0.2s ease-out;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.25);
  z-index: 5000;

  &Close {
    @extend .card;

    bottom: -1000px;
  }

  &__boxButtons {
    position: relative;
    height: 75px;
    margin-bottom: 3rem;
  }

  &__buttonMore {
    background-color: inherit;
    position: absolute;
    top: 2rem;
    left: 46%;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all 0.2s ease-out;

    &Full {
      @extend .card__buttonMore;

      background-color: rgba(0, 0, 0, 0.7);
      left: 2rem;
    }
  }

  &__showMoreIcon {
    fill: #1c6434;
    width: 58px;
    height: 33px;

    &Full {
      @extend .card__showMoreIcon;

      fill: $color-white;
      transform: rotate(180deg);
      margin-top: 5px;
    }
  }

  &__buttonClose {
    background-color: inherit;
    position: absolute;
    right: 2rem;
    top: 2rem;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all 0.2s ease-out;

    &Full {
      @extend .card__buttonClose;

      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  &__closeIcon {
    fill: #7e8d94;
    width: 40px;
    height: 40px;

    &Full {
      @extend .card__closeIcon;

      fill: $color-white;
    }
  }
}

.map {
  &__button {
    position: absolute;
    width: 70px;
    height: 70px;
    right: 30px;
    top: 30px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-green;
    z-index: 1200;

    &Plus {
      @extend .map__button;

      top: 110px;
      font-size: 64px;

      &Disabled {
        @extend .map__buttonPlus;

        background: #c4c4c4;
        box-shadow: none;
      }
    }

    &Minus {
      @extend .map__button;

      top: 190px;
      font-size: 64px;
      padding-bottom: 6px;

      &Disabled {
        @extend .map__buttonMinus;

        background: #c4c4c4;
        box-shadow: none;
      }
    }
  }
}
